body {
  font-family: 'Public Sans', sans-serif;
}

.navbar{
  background-color: #2266ba;
}
.category-aktif{
  background-color: #2266ba;
  color: white;
}
.btn-success{
  background-color: #2266ba;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
